.block 
{
    border: 1px dotted black;
    text-align: center;
    vertical-align: middle;
}

.circle 
{
    border-radius: 150px;
    height: 150px;
    font-weight: bold;
    width: 150px;
    display: table;
    margin: 20px auto;
    color: gray;
    border: 1px solid gray;
}

.circle p 
{
    vertical-align: middle;
    display: table-cell;
    color: gray;
}

.hidden
{
    display: none;
}

/***********************************************************************
**
** Colors
**
***********************************************************************/

.color-primary
{
    padding: 20px 0;
    margin-bottom: 0;
}

.primary-color-1
{
    color: #ff284e;
    background-color:  #ff284e;
}

.primary-color-2
{
    color: #cac1e5;
    background-color: #cac1e5;
}

.secondary-color-1
{
    color: #00d5fa;
    background-color: #00d5fa;
}

.secondary-color-2
{
    color: #ff8500;
    background-color: #ff8500;
}

.secondary-color-3
{
    color: #6b0824;
    background-color: #6b0824;
}

.supporting-color-1
{
    color: #cecdb7;
    background-color: #cecdb7;
}

.supporting-color-2
{
    color: #ffffff;
    background-color: #ffffff;
}

.supporting-color-3
{
    color: #161616;
    background-color: #161616;
}

/***********************************************************************
**
** Typography
**
***********************************************************************/

body
{
    font-family: 'Open Sans', sans-serif;
}

.font-alt
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-1,
{
    background-color: #ffffff;
}

.bg-2
{
    background-color: #ff284e;
}

.bg-3
{
    background-color: #6b0824;
}

.bg-4
{
    background-color: #ff85a3;
}

.font-primary-1
{
    color: #161616;
}

.font-primary-2
{
    color: #ff284e;
}

.font-primary-3
{
    color: #ffffff;
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 18px;
}

h5
{
    font-size: 14px;
}

h6
{
    font-size: 12px;
}

.title
{
    font-size: 14px;
}

.subtitle
{
    font-size: 12px;
}

.body
{
    font-size: 14px;
}

.link
{
    font-size: 14px;
    color: red;
}

/***********************************************************************
**
** Buttons
**
***********************************************************************/

.square 
{
  border-radius: 0px;
  -webkit-appearance: none;
}

.btn-primary-1,
.btn-active-1,
.btn-alt-2
{
    background-color: #ff284e;
    color: #ffffff;
}

.btn-primary-2
{
    background-color: #ffffff;
    color: lightslategray;
}

.btn-active-2
{
    background-color: #ffffff;
    color: #ff284e;
}

.btn-alt-1,
.btn-active-3
{
    background-color: #ffffff;
    color: #ff85a3
}

.btn-facebook-1,
.btn-pinterest-1,
.btn-instagram-1,
.btn-twitter-1,
.btn-envelope-1
{
    background-color: #ffffff;
    color: #6b0824;
}

.bootstrap-select.btn-group .dropdown-toggle .caret 
{
    width: 10px;
    height: 10px;
    border: none;
    font-family: 'Glyphicons Halflings';
}

    .bootstrap-select.btn-group .dropdown-toggle .caret:before 
    {
        content: "\e259";
        color: #ff284e;
        background-color: transparent;
    }
/***********************************************************************
**
** Dropdowns
**
***********************************************************************/

.dropdown-square 
{
  border-radius: 0px;
  border: 1px solid lightslategray;
}

/***********************************************************************
**
** Tabs & Navbar
**
***********************************************************************/

.nav.navbar-nav li.active a,
.nav.navbar-nav li.active a:hover,
.nav.navbar-nav li.active a:focus,
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover
{
    border: none;
    border-bottom-width: 4px;
    border-bottom-color: #ff284e;
    border-bottom-style: solid;
    color: #ff284e;
    background-color: #ffffff
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus,
.nav-tabs li a:hover,
.nav-tabs li a:focus
{
    color: #ff284e;
    border: none;
    background-color: #ffffff;
}


.nav.navbar-nav li a,
.nav-tabs li a
{
    color: lightslategray;
}

.nav-tabs
{
    border-color: #ff85a3;
}

.nav-tabs.nav-stacked li.active a,
.nav-tabs.nav-stacked li.active a:focus,
.nav-tabs.nav-stacked li.active a:hover
{
    border: none;
    border-right-width: 4px;
    border-right-color: #ff284e;
    border-right-style: solid;
    color: #ff284e;
}

.nav-tabs.nav-stacked
{
    border-color: #ff85a3;
    border-bottom: none;
    border-right-width: 1px;
    border-right-style: solid;
}

.navbar.navbar-default
{
    background-color: #ffffff;
}

#btn-signup
{
    background-color: #ff284e;
    color: #ffffff;
}

@media (max-width: 767px) 
{
    div.nav > ul.nav.navbar-nav.navbar-right
    {
        float: left;
    }

}


/***********************************************************************
**
** Forms
** Checkbox, datepicker
**
***********************************************************************/

div.form-group + select.form-control,
.form-control,
.form-control + span .btn
{
    border-radius: 0;
    -webkit-appearance: none;
}

.checkbox .cr
{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 0px;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    color: #ff284e;
}

    .checkbox .cr .cr-icon
    {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

.checkbox label:after
{
    content: '';
    display: table;
    clear: both;
}

    .checkbox label input[type="checkbox"]
    {
        display: none;
    }

    .checkbox label input[type="checkbox"] + .cr > .cr-icon
    {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon
    {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr
    {
        opacity: .5;
    }




/***********************************************************************
**
** Timeline
**
***********************************************************************/

.timeline 
{
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before 
    {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li 
    {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after 
        {
            content: " ";
            display: table;
        }

        .timeline > li:after 
        {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after 
        {
            content: " ";
            display: table;
        }

        .timeline > li:after 
        {
            clear: both;
        }

        .timeline > li > .timeline-panel 
        {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before 
            {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after 
            {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge 
        {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel 
        {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before 
            {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after 
            {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary 
{
    background-color: #2e6da4 !important;
}

.timeline-badge.success 
{
    background-color: #3f903f !important;
}

.timeline-badge.warning 
{
    background-color: #f0ad4e !important;
}

.timeline-badge.danger 
{
    background-color: #d9534f !important;
}

.timeline-badge.info 
{
    background-color: #5bc0de !important;
}

.timeline-title 
{
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul 
{
    margin-bottom: 0;
}

    .timeline-body > p + p 
    {
        margin-top: 5px;
    }

@media (max-width: 767px) 
{
    ul.timeline:before 
    {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel 
    {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge 
    {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel 
    {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before 
        {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after 
        {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

@media (max-width: 568px)
{
    ul.timeline:before 
    {
        display:none;
    }

    ul.timeline>li>.timeline-panel, ul.timeline>li>.timeline-panel.timeline-inverted 
    {
        width: 100%;
        border:none !important;
    }

    ul.timeline>li>.timeline-badge 
    {
        display:none;
    }

    ul.timeline>li>.timeline-panel 
    {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before 
    {
        display:none;
    }

    ul.timeline>li>.timeline-panel:after 
    {
        display:none;
    }
}

.img-wrapper 
{
  position: relative;
  margin-bottom: 10px;
}

.img-overlay 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}

    .img-overlay .btn
    {
        border: none;
        border-radius: 0;
    }

    .img-overlay:before 
    {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 0;
    }


/***********************************************************************
**
** Login Modal
**
***********************************************************************/


.loginmodal-container 
{
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


    .loginmodal-container input[type=submit] 
    {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    }

    .loginmodal-container input[type=email], 
    .loginmodal-container input[type=password] 
    {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    }

    .loginmodal-container input[type=email]:hover, 
    .loginmodal-container input[type=password]:hover 
    {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

.loginmodal-container a 
{
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.loginmodal 
{
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit 
{
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #ffffff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #ff284e;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-submit:hover 
    {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #ff284e;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }
 
.loginmodal-signup 
{
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #ff284e;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: transparent;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-signup:hover 
    {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: transparent;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }
 
.login-help{
  font-size: 12px;
}

.hr-sect 
{
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: gray;
	font-size: 12px;
	margin: 8px 0px;
}

    .hr-sect::before,
    .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: gray;
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
    }