<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Referencing local Bootstrap CSS and custom css -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">        
        <link href="../css/custom.css" rel="stylesheet">

        <title>TagFlix Component Guide</title>
    </head>

    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>Overlay</h1>
                <h3>This is TagFlix Style Guide</h3>  
            </div> 
        </div>

        <!-- Navigation -->
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="../component/forms.html">Forms</a></li>
                            <li><a href="../component/profile.html">Profile</a></li>
                            <li><a href="../component/profileList.html">Profile List</a></li>
                            <li><a href="../component/pricingTables.html">Pricing Tables</a></li>
                            <li class="active" ><a href="../component/overlay.html">Overlay</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            </br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../component/cover.html">Cover</a></li>
                            <li><a href="../component/simpleTimelines.html">Simple Timelines</a></li>
                            <li><a href="../component/uploadMedia.html">Upload Media</a></li>
                            <li><a href="../component/chat.html">Chat</a></li>
                            <li><a href="../component/testimonials.html">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            </br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../component/search.html">Search</a></li>
                            <li><a href="../component/navbars.html">Navbars</a></li>
                            <li><a href="../component/breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="../component/calendar.html">Calendar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            <hr/>
        </div>

        <div class="container">
        
        </div>
        
    </body>
</html>