<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Referencing local Bootstrap CSS and custom css -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet" />
        <link href="../css/bootstrap-social.css" rel="stylesheet" />        
        <link href="../css/custom.css" rel="stylesheet">

        <title>TagFlix Component Guide</title>
    </head>

    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>Overlay</h1>
                <h3>This is TagFlix Style Guide</h3>  
            </div> 
        </div>

        <!-- Navigation -->
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="../component/forms.html">Forms</a></li>
                            <li><a href="../component/profile.html">Profile</a></li>
                            <li><a href="../component/profileList.html">Profile List</a></li>
                            <li><a href="../component/pricingTables.html">Pricing Tables</a></li>
                            <li class="active" ><a href="../component/overlay.html">Overlay</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            </br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../component/cover.html">Cover</a></li>
                            <li><a href="../component/simpleTimelines.html">Simple Timelines</a></li>
                            <li><a href="../component/uploadMedia.html">Upload Media</a></li>
                            <li><a href="../component/chat.html">Chat</a></li>
                            <li><a href="../component/testimonials.html">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            </br>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="../component/search.html">Search</a></li>
                            <li><a href="../component/navbars.html">Navbars</a></li>
                            <li><a href="../component/breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="../component/calendar.html">Calendar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </br>
            <hr/>
        </div>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Modal Login Overlay</h1>
                <p class="text-center">
                    <a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a>
                </p>
            </div>
        </div>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<div class="row text-center">
                        <h1 class="font-primary-2">Tagflix Logo</h1>
                        <br/>
                        <p>Sign up or login</p>
                        <p><strong>to shop this product</strong></p>
                        <a class="btn btn-block btn-social btn-facebook square btn-primary">
                            <span class="fa fa-facebook"></span> Connect with Facebook
                        </a>
                    </div>
                    <div class="hr-sect">OR</div>
				    <div class="row text-center">
                        <form>
                            <input type="email" name="emal" placeholder="Email">
                            <input type="password" name="pass" placeholder="Password">
                            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                            <input type="submit" name="signup" class="login loginmodal-signup" value="Signup">
                        </form>
                    </div>
                    <br/>
                    
                <div class="login-help">
                    <a href="#">Forgot Password?</a> - <a href="#"><u>Register</u></a>
                </div>
                </div>
			</div>
		</div>

        <!-- JQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    </body>
</html>